/* App.css */
.header {
  font-size: medium;
  color: black;
  text-align: center;
}

.greeting {
  font-size: larger;
  color: blue;
  text-align: center;
}

.content {
  font-size: small;
  color: black;
  border: 1px solid #ddd;
  border-radius: small;
  text-align: center;
}
 
.footer {
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #333;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
