/* App.css */
.header {
  font-size: medium;
  color: black;
  text-align: center;
}

.greeting {
  font-size: larger;
  color: blue;
  text-align: center;
}

.content {
  font-size: small;
  color: black;
  border: 1px solid #ddd;
  border-radius: small;
  text-align: center;
}
 
.footer {
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #333;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  * {
  box-sizing: border-box;
  }