.project {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .project h3 {
    font-size: 1.5rem;
    color: #292929;
  }
  
  .project p {
    font-size: 1rem;
    color: #333;
  }
  
  .project .progress-bar {
    margin-top: 10px;
  }
  
  .project .project-details p {
    font-weight: bold;
    margin: 5px 0;
  }
  