.statistics {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .statistics h3 {
    color: #292929;
    margin-bottom: 20px;
  }
  
  .progress-bar {
    margin-top: 15px;
    width: 100%;
  }
  
  .progress {
    height: 10px;
    background-color: #fca311;
    border-radius: 5px;
  }
  